.aboutsPage{
    padding: 80px 0;
    background: #ece8ff;
}
.aboutsPage_arical {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.style{
    border: 2px solid #dbdbdb;
    background: #ffff;
}

.style:hover{    
    background: #dbdbdb;
}
.style1{
    background: #dbdbdb;

}
.style1:hover{
    border: 2px solid #dbdbdb;
    background: #ffff;
}
.cardsCantainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    gap: 72px;
}